// basic color options: use only color names as shown in the
// "Color Palette" section of https://tachyons.io/docs/themes/skins/
$siteBgColorCustom: #fffcf1 ;
$sidebarBgColorCustom: #48332c ;
$textColorCustom: #0b0610 ;
$sidebarTextColorCustom: #70e1e0 ;
$headlineColorCustom: #48332c ;
$headingColorCustom: #48332c ;
$bodyLinkColorCustom: #2e8f8f ;
$navLinkColorCustom: #2e8f8f ;
$sidebarLinkColorCustom: #70e1e0 ;
$footerTextColorCustom: #70e1e0 ;
$buttonTextColorCustom: #70e1e0 ;
$buttonBgColorCustom: #498e8e ;
$buttonHoverTextColorCustom: #70e1e0 ;
$buttonHoverBgColorCustom: #70e1e0 ;
$borderColorCustom: #48332c ;